html,
body {
  padding: 0;
  margin: 0;
  background-color: RGB(243, 219, 182);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  margin-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 550px;
  max-height: 550px;
  width: 700px;
  overflow-y: scroll;
  padding-left: 30px;
}

.ck-content pre {
  background-color: RGB(28, 27, 27);
}

.content a {
  color: blue;
  text-decoration: underline;
}

figure.image {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.content img {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

figcaption {
  font-size: 15px;
  color: gray;
}

pre {
  background-color: RGB(28, 27, 27);
  padding: 20px;
  border-radius: 5px;
  overflow-x: scroll;
}

code {
  background-color: RGB(28, 27, 27);
  color: white;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
